* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.top_header {
    height: 55px;
    border-top: 5px solid #2986e2;
    background-color: #f2f7f9;
}

.container {
    width: 1200px;
    margin: 0 auto;
    ;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.flexer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftflex {
    max-width: 41.66%;
}

.social_links {
    margin-top: 16px;
    margin-bottom: 0;
    padding-left: 5px;
}

.social_links li {
    display: inline-block;
    margin-right: 6px;
}

a {
    color: #526aff;
    text-decoration: none;
    background-color: transparent;
}

.fa {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: lightseagreen;
    transition: all 0.3s;
}

img.logo_img {
    max-width: 97%;
    height: 58px;
    border-radius: 24px;
}

.rightflex {
    max-width: 58.33%;
    padding-top: 6px;
    text-align: right;
}

.btn_lang {
    position: relative;
    top: 2px;
    margin-bottom: 0;
    padding: 5px 12px 10px;
    font-size: 12px;
    color: #535353;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: transparent;
    transition: all 0.3s;
}


.btn-lang .icons {
    position: relative;
    top: 3px;
    left: -10px;
    font-size: 18px;
    color: #ccc;
}

.drop-color {
    color: #f26529;
}

.dropsym {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 15px;
    text-align: left;
    border-radius: 0;
    background-clip: padding-box;
    background-color: #f2f7f9;
}

.rightflex .dropdown a {
    padding-right: 0px;
}

.rightflex a {
    display: inline-block;
    margin-top: 14px;
    padding-right: 20px;
    padding-left: 16px;
    vertical-align: top;
    border-left: 1px solid #ddd;
}

.header-inner {
    margin-top: 34px;
    margin-bottom: 18px;
}

.headflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.herologo {
    max-width: 31.33%;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

img {
    max-width: 40%;
    height: auto;
    border-radius: 22px;
}

.infoflex {
    max-width: 66.667%;
}

.header_block {
    text-align: right;
}

.header-label {
    display: inline-block;
    margin-left: 3px;
    padding: 15px 23px;
    font-size: 12px;
    line-height: 14.4px;
    color: #535353;
    vertical-align: middle;
    border: 1px solid #eee;
    border-radius: 25px;
}

.helper {
    display: inline-block;
    vertical-align: middle;
}

.header-label strong {
    margin-left: 5px;
    font-weight: 700;
    color: #363636;
}

.top_cart {
    display: inline-block;
    margin-right: 3px;
    margin-left: 19px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: #363636;
    vertical-align: middle;
    text-align: left;
}

.top_cart .cart {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 13px;
    padding-top: 11px;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

.bg-color {
    background-color: #f26529;
}

.cart_price {
    display: block;
    margin-top: 3px;
    font-weight: 400;
}

.color_second {
    color: #2986e2;
}

.top-nav {
    background-color: #363636;
    height: 10vh;

}

.navflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightnav {
    max-width: 72.556%;
}

.leftnav {
    max-width: 22.000%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25px;
    margin-top: 8px;
}

.nav-link {
    transition: all 0.3s ease;
}

.rightnav .nav-menu .nav-items .nav-link:hover {
    border-top: 2px solid #f26529;
    color: #f26529;
}

li.nav-items {
    list-style: none;
}

.nav-items a {
    color: white;
    font-size: 17px;
    text-align: center;
}

.drop-menu .nav-link {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.drop-content {
    display: none;
    position: absolute;
    background-color: #363636;
    min-height: auto;
    min-width: 150px;
    z-index: 101;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    border-bottom: 1px solid white;
}

.drop-content a {
    color: whitesmoke;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #363636;
}

.drop-content a:hover {
    color: black;
}

.drop-menu:hover .drop-content {
    margin-top: 10px;
    display: block;
}

li.drop-menu {
    list-style: none;
}


.leftnav .search_area {
    display: flex;
    align-items: center;
}

.leftnav#search {
    margin-right: 8px;
}

.search_area {
    float: right;
    margin: 15px 0 0 0;
    padding: 0 10px 0 0;
    border: 1px solid transparent;
    transition: all .3s ease-out;
    border-radius: 18px;
    background-color: #464646;
    width: 238px;
    height: 36px;
}

.search_area .search {
    border: none;
    color: #fff;
    padding-right: 0px;
    outline: none;
    background: none;
    width: 200px;
    height: 36px;
    padding-left: 15px;
}

input#search {
    margin-top: 6px;
    margin-left: 17px;
    border: none;
    font-size: 16px;
    opacity: 0.2;
    color: white;
    background: #363636;
    margin-right: 2px;
}

.subsearch {
    border: none;
    background: none;
    color: #fff;
}

i.fa.fa-search.submit {
    font-size: 16px;
    color: white;
}

.bg_title {
    background-image: url("../images/bg_title.jpg");
    background-size: cover;
}

.under_head {
    position: relative;
    padding: 22px 0 46px;
    font-family: Raleway;
    color: #fff;
}

.under_head .row {
    position: relative;
    z-index: 100;
}

.bg_title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

h1.under_head_head {
    margin-bottom: 1px;
    margin-left: 4px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

h2.under_head_head2 {
    margin-left: 4px;
    font-size: 18px;
    font-weight: 300;
}


.border_btm {
    border-bottom: 1px solid #eee;
}

.service_icon {
    font-size: 13px;
    font-weight: 300;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 22px 0 15px;
}

.service_icon li {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}

.section {
    padding-top: 50px;
    padding-bottom: 80px;
}

.welcome_image {
    max-width: 100%;
}

.welcome_image img {
    max-width: 100%;
}

.instructions {
    margin-top: 50px;
    margin-bottom: 50px;
}

p.instructhead {
    text-align: center;
    font-size: 28px;
    opacity: 0.8;
    text-transform: initial;
}

.decor-brand {
    display: block;
    width: 46px;
    height: 15px;
    margin: 28px auto;
    background-image: url("../images/decor-brand.png");
    background-repeat: no-repeat;
}

#appointment-section {
    height: 106vh;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}


#left-side {
    margin-right: 20px;
    margin-left: 20px;
}

#right-side {
    margin-left: 20px;
    margin-right: 20px;
}


#additional-details {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px 59px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 23px;
}

textarea {
    resize: vertical;
}

.formdescription {
    margin-left: 29px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #0077B5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.apointbtn {
    margin-left: 81%;
    margin-top: 20px;
}

.form-group:hover button {
    background-color: #f26529;
    color: white;
}

ul#doctor-list {
    list-style: none;
    padding: 0;
}

li{
    list-style: none;
}

input[type="radio"]{
    width:13%;
}

.footer_menu {
    padding-bottom: 30px;
    background-color: #313131;
}

.buffer-icon {
    display: none;
    text-align: center;
    margin: 20px;
    font-size: 24px;
    color: #007bff;
}

/* Payment section */
.card-details{
    margin-bottom: 10px;
}

.payment-container {
    display: none;
    max-width: 500px;
    margin: 0 auto;
}

.payment-methods select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.payment-section {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.qr-code {
    width: 200px;
    margin: 20px auto;
    text-align: center;
}

.qr-code img {
    max-width: 100%;
}

.buffer-icon {
    text-align: center;
    display: none;
    margin-top: 20px;
}

.buffer-icon .fa-spinner {
    font-size: 40px;
    color: #1abc9c;
}

button#pay-card-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footflex {
    display: flex;
    justify-content: space-between;
}

.footleftimage {
    max-width: 40%;
}

.footleftimage .footimage {
    width: 30%;
    border-radius: 131px;
    margin-top: 35px;
}

.footrightmenu {
    max-width: 60%;
}

ul.footmenu {
    list-style: none;
    margin-top: 40px;
    margin-right: 10px;
}

.footmenu li {
    display: inline-block;
    margin-right: 18px;
}

.footmenu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footrightmenu ul li a:hover {
    text-decoration: underline;
}

.endwords {
    margin-top: 6px;
    text-align: center;
    font-size: 19px;
    line-height: 1.9;
    color: white;
}

.welcome_image img {
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p.instructhead {
    animation: Slide 1s ease;
}

@keyframes Slide {
    0% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(0);
    }
}

#right-side {
    animation: Slidein 1.2s ease;
}

@keyframes Slidein {
    0% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

#left-side {
    animation: slidein 1.2s ease;
}

@keyframes slidein {
    0% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(0);
    }
}

#additional-details {
    animation: SlideUp 1.4s ease;
}

@keyframes SlideUp {
    0% {
        transform: translateY(300%);
    }

    100% {
        transform: translateY(0);
    }
}

button.apointbtn {
    animation: SlideIn 1.6s ease;
}

@keyframes SlideIn {
    0% {
        transform: translateX(-800%);
    }

    100% {
        transform: translateX(0);
    }
}